.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    column-gap: 60px;
    row-gap: 40px;
    max-width: 75%;
    margin: 5% auto;
    padding: 0 20px;
    justify-content: center;
}

.score-board {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.poke-title {
}
